/** font settings **/
@font-face {
    font-family: Config;
    src: url("./config.otf") format("opentype");
}

html {
    font-family: 'Config', serif;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.6em;
}

@media screen and (max-width: 699px) {
    html {
        font-size: 13px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }
}

div.section p {
    padding-left: 1em;
}

body {
    background: radial-gradient(31.74% 3046.23% at 50% 49.81%, #242a42 0, #121524 100%);
    color: #fff;
}

button {
    font-family: 'Config', serif;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0.06em;

    background-color: #dc5d17;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 0.1em 0.6em 0.1em 0.6em;
}

button.dark {
    background-color: #4b5e81;
}

a {
    color: #dc5d17;
}

span.highlight {
    color: #dc5d17;
}

span.prestige {
    color: #32e9ea;
}

span.coins {
    color: #fadf86;
}

input[type="text"] {
    font-family: 'Config', serif;
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    padding: 0.001em 0.6em 0.001em 0.6em;
    width: 3.5em;
    color: #fff;
    background-color: #4b5e81;
    border: 0;
    border-radius: 3px;
    outline: 0;
}

input:focus {
    outline: none !important;
}

hr {
    color: #666;
}

/** input layout **/
form {
    display: table;
}

div.form {
    /** background **/
    background-color: rgba(200, 200, 200, 0.1);
    padding: 1em;
    border-radius: 6px;
    display: inline-block;
}

form p {
    display: table-row;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
    margin-left: 10px;
    margin-bottom: 6px;
}

/** tabs **/
div.tabs {
    background-color: rgba(200, 200, 200, 0.1);
    padding: 1em;
    border-radius: 6px;
    display: inline-block;
}

div.tabs span {
    cursor: pointer;
}

div.tabs span.selected {
    background-color: #dc5d17;
    padding: 0.4em 0.6em 0.4em 0.6em;
    border-radius: 3px;
}

/** progress bars **/
.progress {
    margin-left: 1em;
    width: 20em;

    display: flex;
    overflow: hidden;

    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;

    height: 1em;
}

.progress span.base {
    color: black;
    background-color: #dc5d17;
}

.progress span.prestige {
    color: black;
    background-color: #32e9ea;
}

/** about section **/
div.about {
    color: #777;
}

div.about a {
    filter: brightness(70%);
}