@font-face {
    font-family: Config;
    src: url("./config.otf") format("opentype");
}

body {
    background: radial-gradient(31.74% 3046.23% at 50% 49.81%, #242a42 0, #121524 100%);
    color: #fff;
    font-family: 'Config', serif;
    line-height: 28px;
    letter-spacing: 1px;
}

button {
    font-family: 'Config', serif;
    line-height: 28px;
    letter-spacing: 1px;
    background-color: #dc5d17;
    border-radius: 2px;
    border: none;
    color: #fff;
}

button.dark {
    background-color: #4b5e81;
}

a {
    color: #dc5d17;
}

span.highlight {
    color: #dc5d17;
}

input[type="text"] {
    color: #fff;
    background-color: #4b5e81;
    border: 0;
    outline: 0;
}

input:focus {
    outline: none !important;
}